<div class="row">
  <div clas="col">
    <%= render partial: 'breadcrumbs' %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h1>
      <%= 'Diagnostics'.t %>
      <small><%= link_to('Add'.t, new_diagnostic_path, class: 'btn btn-sm btn-primary') if policy(Diagnostic).new? %></small>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table shadow">
      <thead>
        <tr>
          <th><%= 'Slug'.t %></th>
          <th><%= 'Name'.t %></th>
          <th><%= 'Description'.t %></th>
          <th></th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @diagnostics.each do |diagnostic| %>
          <tr>
            <td>
              <span class="text-nowrap">
                <%= diagnostic.slug %>
              </span>
            </td>
            <td>
              <%= diagnostic.name %>
            </td>
            <td>
              <%= diagnostic.description %>
            </td>
            <td>
              <%= active_badge(diagnostic.active) %>
              <%= link_to(diagnostic_diagnostic_questions_path(diagnostic_id: diagnostic.id)) do %>
                <span class="badge badge-primary">
                  <%= 'number-of-questions'.t(count: diagnostic.diagnostic_questions.count ) %>  
                </span>
              <% end %>
            </td>
            <td class="text-nowrap">
            <%= link_to 'More'.t, diagnostic_path(diagnostic), class: 'btn btn-sm btn-info' if policy(diagnostic).show? %>
              <%= link_to 'Edit'.t, edit_diagnostic_path(diagnostic), class: 'btn btn-sm btn-primary' if policy(diagnostic).edit? %>
              <%= link_to 'Destroy'.t, diagnostic, { method: :delete, data: { confirm: 'Are you sure?'.t }, class: 'btn btn-sm btn-warning' } if policy(diagnostic).destroy? %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
