<div class="row">
  <div class="col-md-8">
    <p id="notice"><%= notice %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h1><%= 'Tenants'.t %></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Slug</th>
          <th>Locale</th>
          <th>Domain</th>
          <th>Description</th>
          <th>Active</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @tenants.each do |tenant| %>
          <tr>
            <td><%= tenant.name %></td>
            <td><%= tenant.locale %></td>
            <td><%= tenant.slug %></td>
            <td><%= tenant.domain %></td>
            <td><%= tenant.description %></td>
            <td><%= tenant.active %></td>
            <td>
              <%= link_to 'Show'.t, tenant, class: 'btn btn-sm btn-primary'%>
              <%= link_to 'Edit'.t, edit_tenant_path(tenant), class: 'btn btn-sm btn-primary' %>
              <%= link_to 'Destroy'.t, tenant, { method: :delete, data: { confirm: 'Are you sure?'.t } } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= link_to 'Add Tenant'.t, new_tenant_path, class: 'btn btn-primary' %>
  </div>
</div>
