<div class="row">
  <div clas="col">
    <%= render partial: 'breadcrumbs' %>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <h1>
      <%= @tenant.name %>
    </h1>

    <p>
      <strong>Slug:</strong>
      <%= @tenant.slug %>
    </p>

    <p>
      <strong>Locale:</strong>
      <%= @tenant.locale %>
    </p>

    <p>
      <strong>Domain:</strong>
      <%= @tenant.domain %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @tenant.description %>
    </p>

    <p>
      <strong>Active:</strong>
      <%= @tenant.active %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-4">
    <%= link_to I18n.t('Edit'), edit_tenant_path(@tenant), class: 'btn btn-primary' %>
    <%= link_to I18n.t('Back'), tenants_path, class: 'btn btn-light' %>
  </div>
</div>


