
<div class="row">
  <div class="col-12">
    <p id="notice"><%= notice %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <h1>
      <%= @translation.key %>
    </h1>

    <p>
      <strong>Locale:</strong>
      <%= @translation.locale %>
    </p>
    <p>
      <strong>Key:</strong>
      <%= @translation.key %>
    </p>
    <p>
      <strong>Value:</strong>
      <%= @translation.value %>
    </p>

  </div>
</div>

<div class="row">
  <div class="col-4">
    <%= link_to I18n.t('Edit'), edit_application_translation_path(@translation), class: 'btn btn-primary' %>
    <%= link_to I18n.t('Back'), application_translations_path, class: 'btn btn-light' %>
  </div>
</div>
