<div class="dropdown">
  <button id="users--accountissues--button" class="btn btn-info dropdown-toggle"
    type="button"  data-toggle="dropdown" aria-haspopups="true" aria-expanded="false">
    <%= 'Problems accessing your account?'.t %>
  </button>
  <div class="dropdown-menu" aria-labelledby="users--accountissues--button">
    <%- if controller_name != 'sessions' %>
      <%= link_to 'Log in'.t, new_session_path(resource_name), class: 'dropdown-item' %>
    <% end %>
    <%- if devise_mapping.omniauthable? %>
      <%- resource_class.omniauth_providers.each do |provider| %>
        <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}".t, omniauth_authorize_path(resource_name, provider), class: 'dropdown-item' %>
      <% end %>
    <% end %>
    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
      <%= link_to 'Sign up'.t, new_registration_path(resource_name), class: 'dropdown-item' %>
    <% end %>
    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <%= link_to 'Forgot your password?'.t, new_password_path(resource_name), class: 'dropdown-item' %>
    <% end %>

    <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
      <%= link_to 'Didn\'t receive confirmation instructions?'.t, new_confirmation_path(resource_name), class: 'dropdown-item' %>
    <% end %>

    <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
      <%= link_to 'Didn\'t receive unlock instructions?'.t, new_unlock_path(resource_name), class: 'dropdown-item' %>
    <% end %>
  </div>
</div>
