<% form_is_disabled = !policy(team_diagnostic).modify_setup? %>

<%= bootstrap_form_for(team_diagnostic, remote: false) do |form| %>
  <%= render partial: 'shared/form_errors', locals: { subject: team_diagnostic } %>
  <%= hidden_field_tag :step, service.step %>

  <div class="<%= form_is_disabled ? 'disabled-form' : '' %>">


  <fieldset id="team_diagnostic-general-fieldset" >
    <div class="form-row">
      <div class="col-sm-6">
        <%= form.select :diagnostic_id,
          options_for_select(service.entitled_diagnostics_options, team_diagnostic.diagnostic_id),
          label: 'Diagnostic'.t, required: true, include_blank: true, class: 'form-control-lg' %>
      </div>
    </div>

    <div class="form-row">
      <div class="col-sm-12">
        <%= form.text_field :name, label: 'Team Name'.t, required: true, class: 'form-control-lg' %>
      </div>
    </div>
    <div class="form-row">
      <div class="col-sm-6">
        <%= form.select :organization_id, options_for_select(service.organization_options, team_diagnostic.organization_id), label: 'Organization'.t, required: true %>
      </div>
      <div class="col-sm-6">
      </div>
    </div>

    <div class="form-row">
      <div class="col-sm-6">
        <%= form.select :team_type, options_for_select(service.team_type_options, team_diagnostic.team_type), label: 'Team Type'.t, required: true %>
      </div>
      <div class="col-sm-6">
        <%= form.select :functional_area, options_for_select(service.functional_area_options, team_diagnostic.functional_area), label: 'Functional Area'.t, required: true %>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <%= form.text_area :description, label: 'Description'.t, required: false %>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <%= form.text_area :situation, label: 'Situation'.t, required: true %>
      </div>
    </div>
  </fieldset>

  <fieldset id="team_diagnostic-contact-fieldset">
    <legend><%= 'Contact'.t %></legend>
    <div class="form-row">
      <div class="col-sm-6 col-md-4">
        <%= form.telephone_field :contact_phone, label: 'Contact Phone'.t, required: true %>
      </div>
      <div class="col-md-4">
        <%= form.email_field :contact_email, label: 'Contact Email'.t, required: true %>
      </div>
      <div class="col-md-4">
        <%= form.email_field :alternate_email, label: 'Alternate Email'.t, required: false %>
      </div>
    </div>
    <div class="form-row">
    </div>
  </fieldset>

  <fieldset id="team_diagnostic-dates-fieldset">
    <legend><%= 'Important Dates'.t %></legend>
    <div class="form-row">
      <div class="col-sm-6 col-md-3">
        <%= form.date_field :auto_deploy_at, label: 'Deploy Date'.t, required: false %>
      </div>
      <div class="col-sm-6 col-md-3">
        <%= form.date_field :reminder_at, label: 'Send Reminders'.t, required: true %>
      </div>
      <div class="col-sm-6 col-md-3">
        <%= form.date_field :due_at, label: 'Date Due'.t, required: true %>
      </div>
    </div>
  </fieldset>

  <fieldset id="team_diagnostic-local-fieldset">
    <legend><%= 'Other'.t %></legend>
    <div class="form-row">
      <div class="col-sm-4">
        <%= form.select :locale, locales_for_select(team_diagnostic), label: 'Locale'.t, required: true %>
      </div>
      <div class="col-sm-8">
        <%= form.time_zone_select :timezone , nil, { label: 'Timezone'.t, required: true } %>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4">
        <%= form.file_field :logo, label: 'Logo'.t %>
      </div>
      <div class="col-md-2" style="padding-top: 2.2em">
        <span id="team_diagnostic--logo-uploaded-indicator" class="badge badge-pill badge-success align-baseline invisible" style="font-size: 1.3em;">&check;</span>
      </div>
      <div class="col-md-6">
        <% if @service.team_diagnostic.logo.present? %>
          <%= image_tag(@service.team_diagnostic.logo.variant(resize_to_limit: [150, nil])) %>
          <%= form.check_box :_destroy_logo, label: 'Remove'.t %>
        <% end %>
      </div>
    </div>
  </fieldset>

  <% unless form_is_disabled %>
    <div class="form-row">
      <%= form.submit 'Submit'.t, class: 'btn btn-success' %> &nbsp;
      <%= link_to('Cancel'.t, :back, class: 'btn btn-light') %>
    </div>
  <% end %>
  </div>
<% end %>

<% if form_is_disabled %>
<script type="text/javascript">
  var containers = document.getElementsByClassName('disabled-form');

  for( container of containers) {
    console.log(container);
    var inputs = container.getElementsByTagName("input"); 
    for (var i = 0; i < inputs.length; i++) { 
        inputs[i].disabled = true;
    } 
    var selects = container.getElementsByTagName("select"); 
    for (var i = 0; i < selects.length; i++) { 
        selects[i].disabled = true;
    } 
    var textareas = container.getElementsByTagName("textarea"); 
    for (var i = 0; i < textareas.length; i++) { 
        textareas[i].disabled = true;
    } 
    var buttons = container.getElementsByTagName("button"); 
    for (var i = 0; i < buttons.length; i++) { 
        buttons[i].disabled = true;
    } 
  }
</script>
<% end %>
