<% allow_edit = TeamDiagnosticPolicy.new(current_user, team_diagnostic).modify_questions? %>
<div class="col-md-12">
  <% if allow_edit %>
  <h3><%= 'Selected'.t %></h3>
  <% end %>
  <ul id="selected_questions">
    <%= render partial: 'team_diagnostics/selected_questions', locals: {service: service, team_diagnostic: team_diagnostic } %>
  </ul>
  <%= form_tag(team_diagnostic_team_diagnostic_questions_path(team_diagnostic_id: team_diagnostic), method: :post, remote: true) do %>
    <div class="form-row">
      <div class="col-6 col-sm-6 col-md-8">
        <%= text_field_tag 'team_diagnostic_question[body]', nil, placeholder: 'Custom Question'.t, class: 'form-control', autofocus: true %>
      </div>
      <div class="col-4 col-md-2">
        <%= select_tag 'team_diagnostic_question[locale]', locales_for_select(team_diagnostic), label: 'Locale'.t, required: true, class: 'form-control' %>
      </div>
      <div class="col-2">
        <%= submit_tag 'Add'.t, class: 'btn btn-primary' %>
      </div>
    </div>
    <br/>
  <% end if allow_edit %>
</div>
<% if allow_edit %>
<div class="col-md-12">
  <h3><%= 'Available'.t %></h3>
  <ul id="available_questions">
    <%= render partial: 'team_diagnostics/available_questions', locals: {service: service, team_diagnostic: team_diagnostic } %>
  </ul>
</div>
<% end %>
