<div class="row">
  <div class="col">
    <h2><%= 'Open-Ended Questions'.t %></h2>
  </div>
</div>

<div id="open_ended_questions" class="row" >
  <div id="team_diagnostic--wizard--step-attention_items" class="col">
    <%= render partial: 'wizard_step_attention_items', locals: {service: @service} %>
  </div>
  <%= render partial: 'open_ended_questions', locals: {service: @question_service, team_diagnostic: @team_diagnostic } %>
</div>

<div class="row">
  <div class="col">
  <br/>
    <%= form_for(@service.team_diagnostic) do |form| %>
      <%= hidden_field_tag :step, @service.step %>
      <%= form.submit 'Continue'.t, class: 'btn btn-primary' %>
    <% end if @service.next_step_accessible? %>
  </div>
</div>
