<div class="row">
  <div class="col-sm-6">
    <h3>
      <span class="badge badge-<%= @report_service.status_css_class %>">
        <%= @report_service.status.to_s.capitalize.t %>
      </span>
    </h3>
  </div>
</div>

<% if @report_service.status != :pending %>
  <div class="row">
    <div class="col-sm-12">
    <% case @report_service.status 
        when :stalled %>
          <div class="card">
            <div class="card-body">
              <div class="alert alert-danger card-text">
                <%= 'reports--stalled-message'.t %>
              </div>
            </div>
          </div>
      <% when :running %>
          <div class="card">
            <div class="card-body">
              <div class="alert alert-info card-text">
                <%= 'reports--generation-in-progress'.t %>
              </div>
            </div>
          </div>
          <script type="text/javascript">
            window.reportRefreshTimer = setTimeout( () => location.reload(), 5000)
          </script>
      <% when :completed %>
        <% @team_diagnostic.all_locales.each do |locale| %>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= 'Report'.t %> <span class="badge badge-info"><%= locale %></span></h5>
              <p>
                <%= link_to('View'.t, report_team_diagnostic_path(id: @team_diagnostic.id, report_id: @report_service.current_report&.id, token: @report_service.current_report&.token,locale: locale, format: :html), class: 'btn btn-success', target: '_blank') %>
                <% html_file = @report_service.current_report&.html_files(locale: locale)&.last %>
                <%= link_to('Download HTML', html_file[:url], class: 'btn btn-info') if html_file %>
                <% pdf_file = @report_service.current_report&.pdf_files(locale: locale)&.last %>
                <%= link_to('Download PDF', pdf_file[:url], class: 'btn btn-info', target: '_blank') if pdf_file %>
              </p>
              <ul class="list-group">
                <% png_files = @report_service.current_report&.png_files(locale: locale) %>
                <% png_files.each do |png_file| %>
                  <li class="list-group-item">
                    <%= link_to(png_file[:url], target: '_blank') do %>
                      <span class="badge">PNG</span>
                    <% end %>
                    <%= png_file[:name] %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
    <% end %>
    </div>
  </div>
<% end %>

<%= form_tag generate_report_team_diagnostic_path(id: @team_diagnostic.id), id: 'report--options-form', method: :post, authenticity_token: true do %>
  <div class="row" id="report-options">
    <div class="col-6">
      <%= render partial: 'wizard_report_options', locals: {report_service: @report_service } %>

      <div class="row">
        <div class="col-6 text-right">
        </div>
        <div class="col-6 text-right">
          <% if @report_service.status != :running %>
            <% case @report_service.status 
            when :pending %>
          <button type"submit" class="btn btn-success" id="create_report_button">
            <%= 'Create Report'.t %>
          </button>
          <%  when :stalled %>
            <button type"submit" class="btn btn-primary" id="create_report_button">
              <%= 'Create Report'.t %>
            </button>
          <%  when :completed %>
            <button type"submit" class="btn btn-primary" id="create_report_button">
              <%= 'Regenerate Report'.t %>
            </button>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-6">
      <!-- order component mockup layout 
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">
            Your Order
          </h5>
          <b>Diagnostic Reports</b>
          <ul class="list-group border border-primary">
            <li class="list-group-item bg-light">
              <b><%= @team_diagnostic.diagnostic.name %>&trade;</b>
              <em>for <%= @team_diagnostic.participants.count %> participants</em>
              &mdash;
              <span class="text-right">$150.00</span>
            </li>
          </ul>
          <hr/>
          <b>Applied Coupons and Discounts</b>
          <ul class="list-group border border-success">
            <li class="list-group-item">
              <b>Non-profit Discount</b>
              &mdash;
              <span class="text-right"><em>(-$15.00)</em></span>
            </li>
          </ul>
          <hr/>
          <h5 class="text-right">
            <b><em>Total:</em></b>
            $135.00
          </h5>
          <p style="line-height: 0.9em; padding: 0.5em 1em;">
            <small> 
              <em>
                No payment is required at this time.
                Team Coaching International&trade; will email you an invoice.
              </em>
            </small>
          </p>
          <a href="#" class="btn btn-success">Submit Order</a>
          <br/>
        </div>
      </div>
      <br/>
      <br/>
      <br/>

      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">
            Invoice
            <em><a href="#">A1B2C4D3E4</a></em>
            <span class="badge bg-info">Pending</span>
          </h5>
          <h5 class="text-right">
            <b><em>Total:</em></b>
            $135.00
          </h5>
          <p class="text-center" style="line-height: 0.9em;">
            <small> 
              <em>
                Team Coaching International&trade; is awaiting payment for this invoice.<br/>
                <span class="text-nowrap">If you have questions or need assistance,</span>
                <span class="text-nowrap">please email <a href="mailto:info@teamcoachinginternational.com">info@teamcoachinginternational.com</a></span>
                <span class="text-nowrap">or call us at 555-555-5555</span> 
              </em>
            </small>
          </p>
        </div>  
      </div>
       end order component mockup layout -->
    </div>

  </div>


<% end %>
