<div class="row">
  <div class="col-sm-6">
    <h3>
      <span class="badge badge-<%= @report_service.status_css_class %>">
        <%= @report_service.status.to_s.capitalize.t %>
      </span>
    </h3>
  </div>
  <div class="col-sm-6 text-right">
    <% if @report_service.status != :running %>
        <% case @report_service.status 
            when :pending %>
          <%= link_to('Create Report'.t, generate_report_team_diagnostic_path(id: @team_diagnostic.id), class: 'btn btn-primary', method: :post) %>  
        <%  when :stalled %>
          <%= link_to('Create Report'.t, generate_report_team_diagnostic_path(id: @team_diagnostic.id), class: 'btn btn-primary', method: :post) %>  
        <%  when :completed %>
          <%= link_to('Regenerate Report'.t, generate_report_team_diagnostic_path(id: @team_diagnostic.id), method: :post) %>  
        <% end %>
    <% end %>
  </div>
</div>



<% if @report_service.status != :pending %>
  <div class="row">
    <div class="col-sm-12">
    <% case @report_service.status 
        when :stalled %>
          <div class="card">
            <div class="card-body">
              <div class="alert alert-danger card-text">
                There seems to be a problem. Please review your page setup and regenerate your report.
              </div>
            </div>
          </div>
      <% when :running %>
          <div class="card">
            <div class="card-body">
              <div class="alert alert-info card-text">
                Please be patient as your report is rendering. It will be done very soon.
              </div>
            </div>
          </div>
          <script type="text/javascript">
            window.reportRefreshTimer = setTimeout( () => location.reload(), 5000)
          </script>
      <% when :completed %>
        <% @team_diagnostic.all_locales.each do |locale| %>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= 'Report'.t %> <span class="badge badge-info"><%= locale %></span></h5>
              <p>
                <%= link_to('View'.t, report_team_diagnostic_path(id: @team_diagnostic.id, report_id: @report_service.current_report&.id, token: @report_service.current_report&.token,locale: locale, format: :html), class: 'btn btn-success', target: '_blank') %>
                <% html_file = @report_service.current_report&.html_files(locale: locale)&.last %>
                <%= link_to('Download HTML', html_file[:url], class: 'btn btn-info') if html_file %>
                <% pdf_file = @report_service.current_report&.pdf_files(locale: locale)&.last %>
                <%= link_to('Download PDF', pdf_file[:url], class: 'btn btn-info', target: '_blank') if pdf_file %>
              </p>
              <ul class="list-group">
                <% png_files = @report_service.current_report&.png_files(locale: locale) %>
                <% png_files.each do |png_file| %>
                  <li class="list-group-item">
                    <%= link_to(png_file[:url], target: '_blank') do %>
                      <span class="badge">PNG</span>
                    <% end %>
                    <%= png_file[:name] %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
    <% end %>
    </div>
  </div>
<% end %>



<!--
<div class="row">
  <div class="col-sm-12">
    <h3>Report Pages</h3>
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Selected Pages</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Page 1</li> 
              <li class="list-group-item">Page 2</li> 
              <li class="list-group-item">Page 3</li> 
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Available Pages</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Page 4</li> 
              <li class="list-group-item">Page 5</li> 
              <li class="list-group-item">Page 6</li> 
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


-->

