<%= bootstrap_form_for(@service.team_diagnostic, remote: false) do |form| %>
  <%= render partial: 'shared/form_errors', locals: { subject: @service.team_diagnostic } %>

  <%= hidden_field_tag :step, @service.step %>

  <div class="row">
    <div class="col-md-4">
      <%= form.file_field :logo, label: 'Logo'.t %>
    </div>
    <div class="col-md-1" style="padding-top: 2.2em">
      <span id="team_diagnostic--logo-uploaded-indicator" class="badge badge-pill badge-success align-baseline invisible" style="font-size: 1.3em;">&check;</span>
    </div>
    <div class="col-md-6">
      <% if @service.team_diagnostic.logo.present? %>
        <%= image_tag(@service.team_diagnostic.logo.variant(resize_to_limit: [150, nil])) %>
        <%= form.check_box :_destroy_logo, label: 'Remove'.t %>
      <% end %>
    </div>
  </div>

  <fieldset>
    <legend><%= 'Letters'.t %></legend>

    <div class="accordion" id="team_diagnostic_letter_form_container">
      <div class="card">
        <!-- Cover Letter section -->
        <div class="card-header" id="team_diagnostic_cover_letter_accordion_header">
          <h2 class="mb-0">
            <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#team_diagnostic_cover_letter_accordion_section" aria-expanded="true" aria-controls="team_diagnostic_cover_letter_accordion_section">
              <%= 'Cover Letter'.t %>
            </button>
          </h2>
        </div>
        <div id="team_diagnostic_cover_letter_accordion_section" class="collapse show" aria-labelledby="team_diagnostic_cover_letter_accordion_header" data-parent="#team_diagnostic_letter_form_container">
          <div class="row card-body">
            <div class="col">
              <div class="form-row">
                <div class="col">
                  <small class="form-text text-muted"><%= 'team_diagnostic-cover_letter-description'.t %></small>
                  <%= form.text_area :cover_letter, rows: 10, required: true, label: 'Cover Letter'.t %>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- End Cover letter -->

        <!-- Reminder Letter section -->
        <div class="card-header" id="team_diagnostic_reminder_letter_accordion">
          <h2 class="mb-0">
            <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#team_diagnostic_reminder_letter_accordion_section" aria-expanded="false" aria-controls="team_diagnostic_reminder_letter_accordion_section">
              <%= 'Reminder Letter'.t %>
            </button>
          </h2>
        </div>
        <div id="team_diagnostic_reminder_letter_accordion_section" class="collapse" aria-labelledby="team_diagnostic_letter_help_header" data-parent="#team_diagnostic_letter_form_container">
          <div class="row card-body">
            <div class="col">
              <div class="form-row">
                <div class="col">
                  <small class="form-text text-muted"><%= 'team_diagnostic-reminder_letter-description'.t %></small>
                  <%= form.text_area :reminder_letter, rows: 10, required: true, label: 'Reminder Letter'.t %>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- End Reminder Cover letter -->
        <!-- Cancellation Letter section -->
        <div class="card-header" id="team_diagnostic_cancellation_letter_accordion">
          <h2 class="mb-0">
            <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#team_diagnostic_cancellation_letter_accordion_section" aria-expanded="false" aria-controls="team_diagnostic_cancellation_letter_accordion_section">
              <%= 'Cancellation Letter'.t %>
            </button>
          </h2>
        </div>
        <div id="team_diagnostic_cancellation_letter_accordion_section" class="collapse" aria-labelledby="team_diagnostic_letter_help_header" data-parent="#team_diagnostic_letter_form_container">
          <div class="row card-body">
            <div class="col">
              <div class="form-row">
                <div class="col">
                  <small class="form-text text-muted"><%= 'team_diagnostic-cancellation_letter-description'.t %></small>
                  <%= form.text_area :cancellation_letter, rows: 10, required: true, label: 'Cancellation Letter'.t %>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- End Cancellation Cover letter -->

        <!-- Help section -->
        <div class="card-header" id="team_diagnostic_letter_help_header">
          <h2 class="mb-0">
            <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#team_diagnostic_letter_help" aria-expanded="false" aria-controls="team_diagnostic_letter_help">
              Help
            </button>
          </h2>
        </div>
        <div id="team_diagnostic_letter_help" class="collapse" aria-labelledby="team_diagnostic_letter_help_header" data-parent="#team_diagnostic_letter_form_container">
          <div class="row card-body">
            <%= sanitize('team_diagnostic--letter-help'.t, tags: %w{div p dl dt dd}) %>
          </div>
        </div> <!-- End Help Section -->
      </div> <!-- End Accordion -->

    <br/>
    <div class="form-row">
      <%= form.submit 'Submit'.t, class: 'btn btn-primary' %> &nbsp;
      <%= link_to('Cancel'.t, :back, class: 'btn btn-light') %>
    </div>
  <% end %>
