<div class="row">
  <div class="col-sm-6">
    <h3>
      <%= 'Status'.t %>
      <span class="badge badge-<%= team_diagnostic_state_pill_class(@service.team_diagnostic) %>"><%= @service.team_diagnostic.state.capitalize.t %></span>
    </h3>

    <% case @service.team_diagnostic.state
      when 'setup' %>
      <h3>
        <%= 'Deploy'.t %>
        <small class="text-nowrap"><%= i18n_date_long @service.team_diagnostic.auto_deploy_at %></small>
      </h3>
      <h3>
        <%= 'Reminders'.t %>
        <small class="text-nowrap"><%= i18n_date_long @service.team_diagnostic.reminder_at %></small>
      </h3>
      <h3>
        <%= 'Due'.t %>
        <small class="text-nowrap"><%= i18n_date_long @service.team_diagnostic.due_at %></small>
      </h3>
    <% when 'deployed' %>
      <h3>
        <%= 'Deployed'.t %>
        <small class="text-nowrap"><%= i18n_date_long @service.team_diagnostic.deployed_at %></small>
      </h3>
      <h3>
        <% if @service.team_diagnostic.reminder_sent_at.present? %>
          <%= 'Reminders Sent'.t %>
          <small class="text-nowrap"><%= i18n_date_long @service.team_diagnostic.reminder_sent_at %></small>
        <% else %>
          <%= 'Reminders'.t %>
          <small class="text-nowrap"><%= i18n_date_long @service.team_diagnostic.reminder_at %></small>
        <% end %>
      </h3>
      <h3>
        <%= 'Due'.t %>
        <small class="text-nowrap"><%= i18n_date_long @service.team_diagnostic.due_at %></small>
      </h3>
    <% when 'cancelled' %>
      <% if @service.team_diagnostic.deployed_at.present? %>
        <h3>
          <%= 'Deployed'.t %>
          <small class="text-nowrap"><%= i18n_date_long @service.team_diagnostic.deployed_at %></small>
        </h3>
      <% end %>
    <% when 'completed' %>
      <h3>
        <%= 'Deployed'.t %>
        <small class="text-nowrap"><%= i18n_date_long @service.team_diagnostic.deployed_at %></small>
      </h3>
      <h3>
        <%= 'Completed'.t %>
        <small class="text-nowrap"><%= i18n_date_long @service.team_diagnostic.completed_at %></small>
      </h3>
    <% when 'reported' %>
      <h3>
        <%= 'Deployed'.t %>
        <small class="text-nowrap"><%= i18n_date_long @service.team_diagnostic.deployed_at %></small>
      </h3>
      <h3>
        <%= 'Completed'.t %>
        <small class="text-nowrap"><%= i18n_date_long @service.team_diagnostic.completed_at %></small>
      </h3>
    <% end %>
  </div>

  <div class="col-sm-6">
    <p class="lead">
      <% case @service.team_diagnostic.state
         when 'setup' %><%= sanitized_translation 'team_diagnostic--summary--state_message--setup' %>
      <% when 'deployed' %> <%= sanitized_translation 'team_diagnostic--summary--state_message--deployed' %>
      <% when 'cancelled' %> <%=  sanitized_translation 'team_diagnostic--summary--state_message--cancelled' %>
      <% when 'completed' %> <%=  sanitized_translation 'team_diagnostic--summary--state_message--completed' %>
      <% when 'reported' %> <%=  sanitized_translation 'team_diagnostic--summary--state_message--reported' %>
      <% end %>
      <br/>
      <%= link_to('Complete Diagnostic'.t, complete_team_diagnostic_path(id: @service.team_diagnostic.id), { method: :post, class: 'btn btn-warning', data: {confirm: 'Are you sure?'.t} }) if policy(@service.team_diagnostic).complete? %>
      <%= link_to('Cancel Diagnostic'.t, cancel_team_diagnostic_path(id: @service.team_diagnostic.id), { method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure?'.t} }) if policy(@service.team_diagnostic).cancel? %>
      <% if @service.team_diagnostic.completed? && @service.team_diagnostic.wizard == TeamDiagnostic::DEPLOY_STEP %>
        <%= form_for(@service.team_diagnostic) do |form| %>
          <%= hidden_field_tag :step, @service.step %>
          <%= form.submit 'Continue'.t, class: 'btn btn-success' %>
        <% end %>
      <% end %>
    </p>
    <br/>
    <%= link_to('Export Data'.t, export_team_diagnostic_path(id: @service.team_diagnostic.id, format: :csv), class: 'btn btn btn-success') if policy(@service.team_diagnostic).export_data? %>
  </div>
</div>


<div class="row">
  <div id="team_diagnostic--wizard--step-attention_items" class="col">
    <%= render partial: 'wizard_step_attention_items', locals: {service: @service} %>
  </div>
</div>

<br/>

<div class="row">
  <div class="col">
    <h3>
      <%= 'Participation'.t %>
      <% if TeamDiagnosticPolicy.new(current_user, @service.team_diagnostic).modify_participants? %>
        <%= link_to('Manage'.t, wizard_team_diagnostic_path(id: @service.team_diagnostic.id, step: TeamDiagnostics::Wizard::PARTICIPANTS_STEP), class: 'btn btn-sm btn-success') %>
      <% end %>
    </h3>

    <table class="table shadow">
      <thead>
        <tr>
          <th scope="col">Status</th>
          <th scope="col">Name</th>
          <th scope="col">Deployed</th>
          <th scope="col">Last Activity</th>
          <th scope="col">Progress</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% @service.team_diagnostic.participants.participating.each do |participant| %>
          <tr id="<%= participant.id %>">
            <td><span class="badge badge-pill badge-<%= participant_state_badge_class(participant) %>"><%= participant.state %></span></td>
            <td><%= participant.full_name %></td>
            <td><%= i18n_date_long participant.active_survey&.delivered_at rescue '-' %></td>
            <td><%= i18n_date_long participant.active_survey&.last_activity_at rescue '-' %></td>
            <td>
              <% if participant.active_survey.present? %>
                <%= participant.progress_pct %>%
                <span class="badge badge-pill badge-info">
                  <%= participant.active_survey.diagnostic_responses.count %> /
                  <%= participant.active_survey.questions.count %>
                </span>
              <% else %>
                -
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>


    <h3><%= 'Activity'.t %></h3>
    <table class="table table-sm">
      <tbody>
        <% @service.team_diagnostic.system_events.order(created_at: :desc).each do |event| %>
          <tr>
            <td>
              <small>
              <span class="badge badge-<%= severity_class(event.severity) %>"><%= event.severity %></span>
              <%= event.description.t %> &mdash;
                <% if event.incidental.present? %>
                  <%= event.incidental&.event_description %>
                <% else %>
                  <%= @service.team_diagnostic.diagnostic.name.t %>
                <% end %>
              </small>
            </td>
            <td>
              <small><%= i18n_date_long event.created_at %></small>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>


  </div>
</div>
