<p id="notice"><%= notice %></p>

<p>
  <strong>Organization:</strong>
  <%= @team_diagnostic.organization_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @team_diagnostic.user_id %>
</p>

<p>
  <strong>Team diagnostic:</strong>
  <%= @team_diagnostic.team_diagnostic_id %>
</p>

<p>
  <strong>Diagnostic:</strong>
  <%= @team_diagnostic.diagnostic_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @team_diagnostic.state %>
</p>

<p>
  <strong>Wizard:</strong>
  <%= @team_diagnostic.wizard %>
</p>

<p>
  <strong>Locale:</strong>
  <%= @team_diagnostic.locale %>
</p>

<p>
  <strong>Timezone:</strong>
  <%= @team_diagnostic.timezone %>
</p>

<p>
  <strong>Name:</strong>
  <%= @team_diagnostic.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @team_diagnostic.description %>
</p>

<p>
  <strong>Situation:</strong>
  <%= @team_diagnostic.situation %>
</p>

<p>
  <strong>Functional area:</strong>
  <%= @team_diagnostic.functional_area %>
</p>

<p>
  <strong>Team type:</strong>
  <%= @team_diagnostic.team_type %>
</p>

<p>
  <strong>Show members:</strong>
  <%= @team_diagnostic.show_members %>
</p>

<p>
  <strong>Contact phone:</strong>
  <%= @team_diagnostic.contact_phone %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @team_diagnostic.contact_email %>
</p>

<p>
  <strong>Alternate email:</strong>
  <%= @team_diagnostic.alternate_email %>
</p>

<p>
  <strong>Due at:</strong>
  <%= @team_diagnostic.due_at %>
</p>

<p>
  <strong>Completed at:</strong>
  <%= @team_diagnostic.completed_at %>
</p>

<p>
  <strong>Deployed at:</strong>
  <%= @team_diagnostic.deployed_at %>
</p>

<p>
  <strong>Auto deploy at:</strong>
  <%= @team_diagnostic.auto_deploy_at %>
</p>

<p>
  <strong>Reminder at:</strong>
  <%= @team_diagnostic.reminder_at %>
</p>

<p>
  <strong>Reminder sent at:</strong>
  <%= @team_diagnostic.reminder_sent_at %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @team_diagnostic.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @team_diagnostic.updated_at %>
</p>

<%= link_to 'Edit', edit_team_diagnostic_path(@team_diagnostic) %> |
<%= link_to 'Back', team_diagnostics_path %>
