<div class="row">
  <div clas="col">
    <%= render partial: 'breadcrumbs' %>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <h1>
      <%= @service.team_diagnostic.name %>
    </h1>
  </div>
  <div class="col-6 text-right">
    <% if @service.team_diagnostic.diagnostic.present? %>
      <span class="alert alert-<%= team_diagnostic_state_pill_class(@service.team_diagnostic) %>">
        <%= @service.team_diagnostic.diagnostic.name %>&trade;
      </span>
      &nbsp;
    <% end %>
  </div>
</div>
<br/>

<div class="row">
  <div class="col">
    <ul class="nav nav-tabs">
      <% @service.team_diagnostic.wizard_steps.each_with_index do |stepname, index| %>
        <% step = index + 1 %>
        <% if stepname == @service.step_name %>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><%= stepname.capitalize.t %></a>
          </li>
        <% else %>
          <li class="nav-item">
            <% if @service.step_accessible?(step) %>
              <%= link_to(stepname.capitalize.t, wizard_team_diagnostic_path(id: @service.team_diagnostic.id, step: step), class: 'nav-link') %>
            <% else %>
              <span class="nav-link text-muted"><%= stepname.capitalize.t %></span>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
<br/>

<div class="row">
  <div class="col">
    <%= render partial: "wizard_#{@service.step_name}", locals: {service: @service} %>
  </div>
</div>
