<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= 'Consent'.t %></h5>
    <p class="card-text">
      <strong><%= 'Permits the use of website cookies'.t %></strong>
      <span class="badge badge-<%= user.consent_granted?(:cookies_required) ? 'success' : 'warning' %>">
        <%= user.consent_granted?(:cookies_required) ? 'Yes'.t : 'No'.t %>
      </span><br/>
      <strong><%= 'Accepts the website terms and conditions'.t %></strong>
      <span class="badge badge-<%= user.consent_granted?(:eula) ? 'success' : 'warning' %>">
        <%= user.consent_granted?(:eula) ? 'Yes'.t : 'No'.t %>
      </span>
    </p>
  </div>
</div>
