<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <a class="navbar-brand" href="/">
    <%= image_tag 'tci_logo.png', height: '50px' %>
    <h5 class="text-center">Team Diagnostic&trade;</h5>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">

      <% if user_signed_in? %>
        <% cache([ @current_user || 'unknown', 'nav' ]) do %>
          <% if policy(Invitation).index? %>
            <li class="nav-item <%= nav_item_class(:invitations) %>">
              <%= link_to('Invitations'.t, invitations_path, class: 'nav-link')  %>
            </li>
          <% end %>
          <% if policy(User).index? %>
            <li class="nav-item <%= nav_item_class(:users) %>">
              <%= link_to('Users'.t, users_path, class: 'nav-link')  %>
            </li>
          <% end %>
          <% if policy(TeamDiagnostic).index? %>
            <li class="nav-item <%= nav_item_class(:team_diagnostics) %>">
              <%= link_to('Diagnostics'.t, team_diagnostics_path, class: 'nav-link')  %>
            </li>
          <% end %>
          <% if policy(Organization).index? %>
            <li class="nav-item <%= nav_item_class(:organizations) %>">
              <%= link_to('Organizations'.t, organizations_path, class: 'nav-link')  %>
            </li>
          <% end %>
          <% if @current_user.admin? || @current_user.translator? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbar--system-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= 'System'.t %>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbar--system-dropdown">
                <% if policy(Entitlement).index? %>
                  <%= link_to('Entitlements'.t, entitlements_path, class: 'dropdown-item')  %>
                <% end %>
                <% if policy(Diagnostic).index? %>
                  <%= link_to('Diagnostics'.t, diagnostics_path, class: 'dropdown-item')  %>
                <% end %>
                <% if policy(Tenant).index? %>
                  <%= link_to('Tenants'.t, tenants_path, class: 'dropdown-item')  %>
                <% end %>
                <% if policy(ApplicationTranslation).index? %>
                  <%= link_to('Translations'.t, application_translations_path(tlocale: @current_locale || 'en'), class: 'dropdown-item')  %>
                <% end %>
                <% if policy(:home).system_events? %>
                  <%= link_to('System Events'.t, system_events_path(tlocale: @current_locale || 'en'), class: 'dropdown-item')  %>
                <% end %>
              </div>
            </li>
          <% end %>
          <li class="nav-item <%= nav_item_class(:users, :edit) %>">
            <%= link_to('Profile'.t, edit_user_path(current_user), class: 'nav-link') %>
          </li>
          <li class="nav-item">
            <%= link_to('Logout'.t, destroy_user_session_path, method: :delete, class: 'nav-link') %>
          </li>
        <% end %>
      <% else %>
        <li class="nav-item">
          <%= link_to('Login'.t, new_user_session_path, class: 'nav-link') if show_login_link? %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
<br/>
