<div class="card col-sm-12 col-md-9 mx-auto organization-card">
  <div class="card-body">
    <h5 class="card-title">
      <%= organization.name %>
      <%= link_to('Show'.t, organization_path(organization), class: 'btn btn-sm btn-info') %>
    </h5>
    <%= organization_role_badge(organization) %>
    <p class="card-text"><%= organization.description %></p>

    <%= render partial: 'organization_team_diagnostics', locals: { organization: organization } %>
  </div>
</div>
