<div class="card shadow-sm">
  <div class="card-body">
    <h5 class="card-title">
      <%= 'Profile'.t %>
      <%= link_to('Edit'.t, edit_user_path(user), class: 'btn btn-sm btn-primary' ) %>
    </h5>
    <p class="card-text">
      <%= user.name %>
      <span class="badge badge-light"><%= user.role.name.t %></span><br/>
      <strong><%= user.email %></strong><br/>
    </p>
  </div>
</div>
