<div class="row">
  <div clas="col">
    <%= render partial: 'breadcrumbs' %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h1>
      <%= 'Entitlements'.t %>
      <small><%= link_to('Create'.t, new_entitlement_path, class: 'btn btn-sm btn-success') %></small>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <p>
      <%= 'entitlements-index-description'.t.html_safe %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table shadow">
      <thead>
        <tr>
          <th><%= 'Name'.t %></th>
          <th><%= 'Role'.t %></th>
          <th><%= 'Reference'.t %></th>
          <th><%= 'Description'.t %></th>
          <th></th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @entitlements.each do |entitlement| %>
          <tr>
            <td>
              <span class="text-nowrap">
                <%= entitlement.slug %>
              </span>
              <%= active_badge(entitlement.active) %>
            </td>
            <td>
              <%= entitlement.role&.name.t %>
              <%= account_limited(entitlement.account) %>
            </td>
            <td>
              <span class="text-nowrap">
                <%= entitlement.reference %>
              </span>
            </td>
            <td>
              <%= entitlement.description %><br/>
              <strong><%= 'Quota'.t %></strong>: <%= entitlement.quota || 'No'.t %>
            </td>
            <td class="text-nowrap">
              <%= link_to 'More'.t, entitlement, class: 'btn btn-sm btn-info' if policy(entitlement).show? %>
              <%= link_to 'Edit'.t, edit_entitlement_path(entitlement), class: 'btn btn-sm btn-primary' if policy(entitlement).edit? %>
              <%= link_to 'Destroy'.t, entitlement, { method: :delete, data: { confirm: 'Are you sure?'.t }, class: 'btn btn-sm btn-warning' } if policy(entitlement).destroy? %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
