<div class="row">
  <div clas="col">
    <%= render partial: 'breadcrumbs' %>
  </div>
</div>
<div class="jumbotron">
  <h1><%= 'Entitlement'.t %></h1>
  <p class="lead">
    <strong><tt><%= @entitlement.slug %></tt></strong><br/>
    <%= active_badge(@entitlement.active) %>
    <%= account_limited(@entitlement.account) %><br/>
    <strong><%= 'Role'.t %></strong>: <%= @entitlement.role&.name&.t %><br/>
    <strong><%= 'Reference'.t %></strong>: <%= @entitlement.reference %><br/>
    <strong><%= 'Quota'.t %></strong>: <%= @entitlement.quota || 'No'.t %><br/>
    <strong><%= 'Description'.t %></strong>: <small> <%= @entitlement.description %> </small> <br/>
  </p>
  <hr/ >
  <%= link_to('Edit'.t, edit_entitlement_path(@entitlement), class: 'btn btn-primary') %>
  <%= link_to('Back'.t, entitlements_path, class: 'btn btn-info') %>
</div>
